# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

# Cache files
__pycache__/
*.pyc
.DS_Store

# Virtualenv
virt/

# secrets
.env

# queries
queries/*
